@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F5F0;
  font-family: 'Nunito', sans-serif;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}
